$purple: #8C67F1;
$light-purple: #B9A4F4;
$red: #FB504B;
$mint: #A0F1E2;
$blue: #74ABEA;
$pink: #F9D7D6;
$yellow: #F8E15B;
$light-red: #FDA7A5;

$purple-bg: #E3DCF7;
$light-purple-bg: #F6F5FA;
$red-bg: #F9D7D6;
$blue-bg: #ECF1F7;
$light-red-bg: #FCF4F4;
$light-mint-bg: #FAFEFF;
$yellow-bg: #F9F4D9;

$white: #ffffff;
$black: #20232D;

$colors: ( recipe-purple, $purple ),
  ( recipe-light-purple, $light-purple ),
  ( recipe-red, $red ),
  ( recipe-mint, $mint ),
  ( recipe-blue, $blue ),
  ( recipe-pink, $pink ),
  ( recipe-yellow, $yellow ),
  ( recipe-light-red, $light-red ),
  ( recipe-purple-bg, $purple-bg ),
  ( recipe-light-purple-bg, $light-purple-bg ),
  ( recipe-red-bg, $red-bg ),
  ( recipe-blue-bg, $blue-bg ),
  ( recipe-light-red-bg, $light-red-bg ),
  ( recipe-light-mint-bg, $light-mint-bg ),
  ( recipe-yellow-bg, $yellow-bg );

.wp-admin .acf-fields {
  .acf-field[data-name^="recipe_"] ul.acf-radio-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;

    li {
      margin-right: 0;
      display: flex;
    }

    label {
      width: 28px;
      height: 28px;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      color: $white;
      visibility: hidden;
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      visibility: visible;
      background-color: $white;

      &:checked:before {
        content: "\f15e";
        font-family: dashicons;
        width: 20px;
        height: 20px;
        background-color: transparent;
        font-size: 20px;
        margin: 2px;
        color: $black;
      }

      @each $name, $color in $colors {
        &[value="#{$name}"] {
          background-color: $color;
        }
      }
    }
  }

  .acf-field[data-name="recipe_font_colour"] ul.acf-radio-list input[type="radio"] {
    // override dark colors with a white checkmark when checked (default is black)
    &[value="recipe-black"] {
      background-color: $black;

      &:checked:before {
        color: $white;
      }
    }
  }

  .acf-field[data-name="recipe_tag_colour"] ul.acf-radio-list input[type="radio"] {

  }
}

.wp-admin .acf-flexible-content {
  .layout[data-layout="body_text"] {
    > .acf-fields {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    .acf-field[data-name="has_headline_image"] {
      flex: 0 0 100%;
    }

    .acf-field[data-name="related_image"] {
      flex: 0 0 35%;
    }

    .acf-field[data-name="section_content"] {
      flex: 1 0 65%;
    }
  }
}