.article-detail {
  padding-bottom: 1.875rem;

  .subtitle {
    font-weight: 500;
  }

  .featured-images {
    margin-bottom: 1.25rem;

    .related-image {
      display: none;
    }

    .image-container {
      height: 11.25rem;
      width: calc(var(--grid-gutter) * 2 + 100%);
      left: calc(var(--grid-gutter) * -1);

      .image {
        height: 100%;
        padding-bottom: 0;
      }
    }
  }

  .breadcrumbs {
    margin-bottom: 1.25rem;
  }

  .reading-time,
  .author-date,
  .separator {
    display: inline-block;
    vertical-align: middle;
    font-family: $serifFont;
    font-size: 1.125rem;
    line-height: 1.278;
  }

  .separator {
    padding: 0 0.313rem;
  }

  .entry-content {
    @extend .layout-grid;

    grid-column: 1 / span var(--grid-amount);

    .large-image {
      grid-column: 1 / span var(--grid-amount);
      border: 0 solid;
      border-radius: 1rem;
      overflow: hidden;
    }

    .tags-list {
      display: none;
    }

    .entry-title,
    .subtitle,
    .tags-list {
      margin-bottom: 1.25rem;
    }

    > * {
      margin-bottom: 1.875rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .headline,
  h3 {
    @include fluid-font(1.5rem, 2.063rem);

    line-height: 3.25rem;
  }

  .subtitle {
    @include fluid-font(1.25rem, 1.5rem);

    line-height: 1.458;
  }

  @include breakpoint(tablet) {
    padding: 3.75rem 0;

    .entry-header {
      position: relative;
      grid-column: 1 / span 5;
    }

    .header-wrapper {
      //position: fixed;
      position: absolute;
      width: calc((var(--grid-width) * 5) + (var(--grid-gutter) * 4) - 1.25rem);
    }

    .featured-images {
      position: relative;
      margin-bottom: 1.875rem;
      padding-bottom: 100%;

      .article-image,
      .related-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .article-image {
        z-index: 10;
      }

      .related-image {
        display: block;
      }

      .image-container {
        width: 100%;
        height: initial;
        left: 0;
        border: 0 solid;
        border-radius: 1rem;
        overflow: hidden;

        .image {
          padding-bottom: 100%;
        }
      }
    }

    .subtitle {
      font-family: $serifFont;
      font-weight: 400;
    }

    .breadcrumbs {
      margin-bottom: 1.875rem;
    }

    .entry-content {
      .entry-title,
      .subtitle,
      .tags-list {
        margin-bottom: 1.875rem;
      }

      .tags-list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1.25rem;

        .tag {
          margin-left: 0;
        }
      }

      > * {
        grid-column: 6 / span 7;
      }
    }

    .large-image .image-container .image {
      padding-bottom: 68.375%;
    }
  }

  @include breakpoint(laptop) {
    //padding: 6.563rem 0;

    .featured-images,
    .featured-images .image-container .image {
      padding-bottom: 68.375%;
    }

    .entry-content > * {
      margin-bottom: 3.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}