.article-detail {

  .entry-header .image-container {
    margin-bottom: 1.875rem;

    .image {
      padding-bottom: 100%;
    }
  }

  .breadcrumbs {
    margin-bottom: 1.875rem;
  }

  .reading-time,
  .author-date,
  .separator {
    display: inline-block;
    vertical-align: middle;
    font-family: $serifFont;
    font-size: 1.125rem;
    line-height: 1.278;
  }

  .separator {
    padding: 0 0.313rem;
  }

  .entry-content {
    @extend .layout-grid;

    grid-column: 1 / span var(--grid-amount);

    .large-image {
      grid-column: 1 / span var(--grid-amount);
    }

    .tags-list {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 1.25rem;

      .tag {
        margin-left: 0;
      }
    }

    .entry-title,
    .subtitle,
    .tags-list {
      margin-bottom: 1.875rem;
    }

    > * {
      grid-column: 6 / span 7;
      margin-bottom: 3.75rem;
    }
  }

  .headline {
    @include fluid-font(1.5rem, 2.063rem);

    line-height: 3.25rem;
  }

  .subtitle {
    @include fluid-font(1.25rem, 1.5rem);

    line-height: 1.458;
  }

  @include breakpoint(tablet) {
    .large-image .image-container .image {
      padding-bottom: 68.375%;
    }
  }

  @include breakpoint(laptop) {
    padding: 6.563rem 0;

    .entry-header {
      position: relative;
      grid-column: 1 / span 5;
    }

    .header-wrapper {
      //position: fixed;
      position: absolute;
      width: calc((var(--grid-width) * 5) + (var(--grid-gutter) * 4) - 1.25rem);
    }

    .subtitle {
      font-family: $serifFont;
    }
  }
}