.article-item {
  position: relative;
  transition: transform 350ms ease-in-out;
  transform: translate(0, 0);
  will-change: transform;

  &:hover {
    transform: translate(0, -0.625rem);

    .read-now:after {
      animation-play-state: running;
    }
  }

  .article-link {
    display: block;
    height: 100%;
    border-radius: 0.75rem;
    overflow: hidden;

    &:after {
      display: none;
      transition: none;
    }
  }

  .tags-list {
    position: absolute;
    top: 50%;
    transform: translateY(-86.5%);
    left: 1.875rem;
    z-index: 10;
  }

  .image-container .image {
    padding-bottom: 67.57%;
  }

  .entry-title {
    @include fluid-font(1.75rem, 2.063rem);

    font-weight: 500;
  }

  .entry-content {
    position: relative;
    background-color: $white;
    min-height: 17.188rem;
    padding: 2.25rem 1.875rem 1.875rem 1.875rem;
  }

  .read-now {
    @include fluid-font(1rem, 1.25rem);

    font-weight: 400;
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
    display: block;

    &:after {
      content: '';
      animation: shakeArrow 500ms paused infinite;
      transform: translate3d(0, 0, 0);
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(100% + 1.875rem);
      margin: auto;
      background-image: url('../images/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      height: 2rem;
      width: 5rem;
      will-change: transform;
    }
  }

  @include breakpoint(laptop) {
    .entry-content {
      min-height: 17.188rem;
      padding: 2.25rem 1.875rem 1.875rem 1.875rem;
    }
  }
}