.article-item {
  position: relative;
  transition: transform 350ms ease-in-out;
  transform: translate(0, 0);
  will-change: transform;

  &:hover {
    transform: translate(0, -0.625rem);

    .read-now:after {
      animation-play-state: running;
    }
  }

  .article-link {
    display: block;
    height: 100%;
    border-radius: 0.75rem;
    overflow: hidden;

    &:after {
      display: none;
      transition: none;
    }
  }

  .tags-list {
    position: absolute;
    top: 8.313rem;
    left: 1.875rem;
    z-index: 10;
  }

  .image-container {
    height: 9.438rem;

    .image {
      padding-bottom: 0;
      height: 100%;
    }
  }

  .entry-title {
    @include fluid-font(1.75rem, 2.063rem);

    font-weight: 500;
  }

  .entry-content {
    position: relative;
    background-color: $white;
    min-height: 12.563rem;
    padding: 2.25rem 1.75rem 1.25rem 1.75rem;
  }

  .read-now {
    @include fluid-font(1rem, 1.25rem);

    font-weight: 400;
    position: absolute;
    bottom: 1.25rem;
    left: 1.875rem;
    display: block;

    &:after {
      content: '';
      animation: shakeArrow 500ms paused infinite;
      transform: translate3d(0, 0, 0);
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(100% + 1.875rem);
      margin: auto;
      background-image: url('../images/arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      width: 2.688rem;
      height: 1.125rem;
      will-change: transform;
    }
  }

  @include breakpoint(tablet) {
    .image-container {
      height: 15.625rem;
    }

    .tags-list {
      top: 14.5rem;
      left: 2.083vw;
    }

    .entry-content {
      min-height: 17.188rem;
      padding: 2.25rem 1.875rem 1.875rem 1.875rem;
    }

    .read-now {
      bottom: 1.875rem;

      &:after {
        height: 2rem;
        width: 5rem;
      }
    }
  }

  @include breakpoint(laptop) {
    .tags-list {
      left: 1.875rem;
    }
  }
}