.parallax-image {
  position: absolute;

  &.discovery-zoom-call {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-doodle-message {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-doodle-play {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-square-red {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-doodle-lightbulb {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-doodle-meeting {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.discovery-doodle-search {
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    left: 0;
  }

  &.planning-img-planning {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-img-asana {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-circle-indigo {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-line-blue {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-doodle-notebook {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-doodle-planning {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.planning-doodle-strategy {
    top: 155vh;
    top: calc(var(--vh, 1vh) * 155);
    left: 0;
  }

  &.creation-img-website {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-doodle-wireframe {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-doodle-paint {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-doodle-pencil {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-doodle-stars {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-rectangle-green {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.creation-rectangle-yellow {
    top: 290vh;
    top: calc(var(--vh, 1vh) * 290);
    left: 0;
  }

  &.controlling-circle-red {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-doodle-spring {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-doodle-internet {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-doodle-wifi {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-linkedin-icon {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-instagram-icon {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-mail-icon {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-youtube-icon {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }

  &.controlling-wave-blue {
    top: 390vh;
    top: calc(var(--vh, 1vh) * 390);
    left: 0;
  }
}