:root {
  --grid-amount: 4;
  --grid-width: 4.313rem;
  --grid-gutter: 1.25rem;
}

@include breakpoint(laptop) {
  :root {
    --grid-amount: 12;
    --grid-width: 4.375rem;
    --grid-gutter: 1.875rem;
  }
}