.ui-accessible,
.screen-reader-text {
  @include accessible();
}

.batch-reveal {
  opacity: 0;
  will-change: transform;
}

.br-desktop {
  @include breakpoint(laptop) {
    opacity: 0;
    will-change: transform;
  }
}