$navHeight: calc(var(--vh, 1vh) * 100 - 3.625rem);
$navHeightTransform: calc(var(--vh, 1vh) * 100);
$navHeightTop: calc((var(--vh, 1vh) * 100 - 3.625rem) * -1);

.layout-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  z-index: 20;
  height: 3.625rem;
  background-color: $white;

  &.show-menu {

    .main-navigation {
      transform: translate3d(0, $navHeightTransform, 0);
    }

    .menu-toggle span {
      &:nth-of-type(1) {
        visibility: hidden;
      }

      &:nth-of-type(2) {
        @include rotate(45deg);
      }

      &:nth-of-type(3) {
        @include rotate(-45deg);
      }
    }
  }

  .scroll-progress {
    position: fixed;
    bottom: -0.750rem;
    left: 0;
    appearance: none;
    width: 0;
    height: 0.625rem;
    border: none;
    background-color: $blue;
    z-index: 9999;
  }

  .header-container {
    height: 100%;
    background-color: inherit;
    max-width: 73.125rem;
    margin: 0 auto;
  }

  .logo-wrapper {
    position: relative;
    height: 100%;
    background-color: inherit;
    z-index: 10;
    padding-left: var(--grid-gutter);
    border-bottom: 0.125rem solid $black;
  }

  .logo-link {
    display: inline-block;
    height: 100%;

    &:after {
      display: none;
    }
  }

  .logo-container {
    display: grid;
    align-items: center;
    height: 100%;
    text-align: left;
    z-index: 1;
  }

  .logo {
    font-size: 1rem;
    height: 1.875rem;
    padding-top: 0.125rem;
    object-fit: contain;
    object-position: center left;
  }

  .main-navigation {
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in-out;
    position: absolute;
    top: $navHeightTop;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    height: $navHeight;
    background-color: $pink;
    z-index: 5;
    will-change: transform;
  }

  .menu-list {
    display: grid;
    grid-gap: 3.125rem;
    background-color: inherit;
    padding: 3.125rem 1.25rem;
  }

  .menu-item {
    max-width: 80%;
    border-bottom: 2px solid $black;
    margin-bottom: 0;
    list-style: none;
  }

  .menu-link {
    display: inline-block;
    width: 100%;
    font-family: $sansSerifFont;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    color: $black;
    margin-bottom: 0;
    padding-bottom: 0.438rem;
  }

  .menu-toggle {
    @include translateY(-50%);

    width: 3.125rem;
    height: 2.188rem;
    position: absolute;
    top: 50%;
    right: var(--grid-gutter);
    margin: auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: 0;
    z-index: 100;
    color: $white;

    span {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 0.175rem;
      margin-top: -0.175rem;
      background-color: $black;
      border-radius: 0.063rem;
      pointer-events: none;
      will-change: transform;

      &:nth-of-type(2) {
        transition: transform 300ms ease-in-out;
        transform: translate3d(0, -0.744rem, 0);
      }

      &:nth-of-type(3) {
        transition: transform 300ms ease-in-out;
        transform: translate3d(0, 0.744rem, 0);
      }
    }
  }

  @include breakpoint(laptop) {
    transition: height 300ms ease-in-out;
    height: 6rem;
    border-bottom: 0.125rem solid $light-grey;
    will-change: height;

    &.shrink {
      height: 4rem;
    }

    .header-container {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
    }

    .menu-toggle {
      display: none;
    }

    .logo-wrapper {
      flex: 0 0 8.75rem;
      padding-left: 0;
      border-bottom: 0;
    }

    .logo {
      height: 100%;
      padding-top: 0;
    }

    .main-navigation {
      transition: none;
      transform: none;
      height: 100%;
      opacity: 1;
      visibility: visible;
      position: relative;
      top: 0;
      flex: 1;
      padding-top: 0;
      margin-left: calc(var(--grid-gutter) * 2);
      background-color: transparent;
    }

    .menu-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      grid-gap: 0;
      height: 100%;
      padding: 0;
      position: relative;
    }

    .menu-item {
      text-align: center;
      margin-left: calc(var(--grid-gutter) * 2);
      max-width: 100%;
      border-bottom: 0;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .menu-link {
      font-weight: 400;
      padding-bottom: 0;
      transition: background-size 300ms ease-in-out;
      background: linear-gradient(to bottom, transparent 62%, #e3dcf7 0) left center/0% 100% no-repeat;
      will-change: background-size;

      &:hover,
      &.active {
        background-size: 100% 100%;
      }

      &:after {
        display: none;
        transition: none;
      }
    }
  }
}