.section-contact {

  .form-wrapper {
    grid-column: span 7;
  }

  .image-wrapper {
    grid-column: span 5;
    border-width: 0.938rem;
    border-style: solid;
    border-radius: 0.75rem;
    align-self: center;

    .image-container .image {
      padding-bottom: 100%;
    }
  }

  .wpcf7-submit {
    width: calc((var(--grid-width) * 4) + (var(--grid-gutter) * 3));
  }
}