.section-articles-slider {
  overflow: hidden;

  .articles-list {
    flex-flow: row nowrap;
    background-color: inherit;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: calc(-100% - (var(--grid-gutter) / 2));
      width: 100%;
      height: 100%;
      background-color: inherit;
      z-index: 5;
    }
  }

  @include breakpoint(laptop) {
    .articles-list .article-item {
      margin-bottom: 0;

      &:nth-of-type(3n) {
        margin-right: var(--grid-gutter);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}