.section-parallax-list {
  //padding-bottom: 2rem;
  overflow: hidden;

  .marker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    //height: 100vh;
    //height: calc(var(--vh, 1vh) * 100);
    height: 1px;
    visibility: hidden;
    opacity: 0;

    &.marker-one {
      width: 100%;
      background-color: deeppink;
    }

    &.marker-two {
      top: 150vh;
      top: calc(var(--vh, 1vh) * 150);
      width: 100%;
      background-color: red;
    }

    &.marker-three {
      top: 250vh;
      top: calc(var(--vh, 1vh) * 250);
      width: 100%;
      background-color: green;
    }

    &.marker-four {
      top: 350vh;
      top: calc(var(--vh, 1vh) * 350);
      width: 100%;
      background-color: blue;
    }

    &.marker-five {
      top: 450vh;
      top: calc(var(--vh, 1vh) * 450);
      width: 100%;
      background-color: yellow;
    }
  }

  .parallax-texts {
    grid-column: span var(--grid-amount);
  }

  .parallax-text {
    &:last-of-type .text-content {
      margin-bottom: 0;
    }

    .text-content {
      margin-bottom: 1.875rem;
    }

    .headline {
      @include fluid-font(1.5rem, 2.438rem);

      line-height: 1.2;
      position: relative;
      margin-bottom: 1.25rem;
      padding-left: 1.25rem;
      transition: opacity 250ms ease-in-out;
      will-change: opacity;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 0.625rem;
        height: 1.063rem;
        background-color: $blue;
      }
    }

    .text {
      overflow: hidden;
      transition: max-height 300ms ease-in-out;
      will-change: max-height;

      p {
        font-size: 1.25rem;
      }
    }
  }

  .parallax-images {
    display: none;
  }

  @include breakpoint(tablet) {
    .parallax-text .headline {
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }

  @include breakpoint(laptop) {
    .parallax-wrapper {
      height: 550vh;
      height: calc(var(--vh, 1vh) * 550);
      position: relative;
    }

    .parallax-texts {
      grid-column: 1 / span 5;
    }

    .parallax-images {
      grid-column: 6 / span 7;
      display: block;
      position: relative;
    }

    .parallax-text {
      overflow: hidden;

      .text-content {
        transition: margin-bottom 300ms ease-in-out;
        margin-bottom: 1.25rem;
        will-change: margin-bottom;
      }

      &.hidden {
        .text-content {
          margin-bottom: 0;
        }

        .headline {
          opacity: 0.2;
        }

        .text {
          transition: max-height 300ms ease-in-out;
          max-height: 0;
        }
      }

      &.active {
        .headline {
          opacity: 1;
        }

        .text {
          transition: max-height 300ms ease-in-out;
          max-height: 62.5rem;
        }
      }
    }
  }
}