.section-testimonials {

  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / span var(--grid-amount);
    grid-column-gap: var(--grid-gutter);
  }

  .testimonial-image {
    border-width: 0.313rem;
    border-style: solid;
    border-radius: 0.125rem;
    width: 3.125rem;
    height: 3.125rem;

    .image {
      padding-bottom: 100%;
    }
  }

  .entry-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .testimonial-title {
    font-weight: 500;
  }

  .testimonial-role {
    margin-bottom: 0;
  }

  .entry-description p {
    @include fluid-font(1rem, 1.125rem);

    font-family: $sansSerifFont;
  }

  @include breakpoint(laptop) {
    .testimonial-grid {

    }

    .testimonial-item {
      margin-bottom: var(--grid-gutter);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .testimonial-image {
      width: 4.375rem;
      height: 4.375rem;
    }
  }
}