.parallax {
  position: relative;
  background-color: $primary;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .image {
    text-align: center;
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
  }

  .details-headline {
    @include transform(translate(-50%, -50%));
    //@include fluid-font(26px, 40px);

    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $primary;
    color: $white;
    padding: 0.25em 0.75em;
  }

  @include breakpoint(tablet) {
    padding-bottom: 56.25%;

    .image {
      background-attachment: scroll;
    }
  }

  @include breakpoint(laptop) {
    padding-bottom: 46.25%;

    .image {
      background-attachment: fixed;
    }
  }
}