.section-articles-list {
  .article-item {

    &.hide {
      display: none;
    }

    &.show {
      display: block;
    }
  }

  .button-wrapper {
    grid-column: span var(--grid-amount);
    text-align: center;

    .load-more.inactive {
      pointer-events: none;
    }
  }

  @include breakpoint(tablet) {
    .button-wrapper {
      margin-top: 3.75rem;
    }
  }
}