.top-section {
  padding: 0;
  overflow: hidden;

  .layout-grid {
    align-items: center;
  }

  .cta {
    margin-top: 3.75rem;
  }

  .image-text {
    padding: 5.625rem 0;
    position: relative;

    &.right {
      .text-content {
        grid-column-start: 1;
        order: 0;
      }

      .image-wrapper {
        grid-column-start: 6;
        order: 1;
      }

      &:after {
        transform: translateX(calc(50% + var(--grid-width) + (var(--grid-gutter) / 2)));
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      transform: translateX(calc(50% - var(--grid-width) - (var(--grid-gutter) / 2)));
      background-color: var(--block-color);
      z-index: -1;
    }

    .text-content {
      grid-column: 8 / span 5;
    }

    .headline {
      @extend h1;
    }

    .image-wrapper {
      grid-column: 1 / span 7;
      border-width: 0.938rem;
      border-style: solid;
      border-radius: 0.75rem;

      .image-container .image {
        padding-bottom: 86%;
      }
    }
  }

  .background-text {
    position: relative;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .image-wrapper {
      opacity: calc(var(--bg-opacity) / 100);
    }

    .image-container .image {
      padding-bottom: 53.333%;
    }

    .headline {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(var(--grid-total-width) - var(--grid-width) - var(--grid-gutter));
      margin-bottom: 0;

      br {
        display: none;
      }
    }
  }

  @include breakpoint(laptop) {
    .cta {
      width: calc((var(--grid-width) * 2) + var(--grid-gutter));
    }
  }

  @include breakpoint(xl-laptop) {
    .background-text .headline br {
      display: block;
    }
  }
}