.top-section {
  padding: 0;
  overflow: hidden;

  .layout-grid {
    align-items: center;
  }

  .cta {
    margin-top: 3.75rem;
  }

  .image-text {
    padding: 5.625rem 0;
    position: relative;

    &.right {
      .text-content {
        grid-column-start: 1;
        order: 0;
      }

      .image-wrapper {
        grid-column-start: 6;
        order: 1;
      }
    }

    .text-content {
      grid-column: 8 / span 5;
    }

    .headline {
      @extend h1;
    }

    .image-wrapper {
      display: none;
    }
  }

  .background-text {
    position: relative;

    .mask {
      display: none;
    }

    .image-container .image {
      padding-bottom: 66.666%;
    }

    .headline {
      background-color: var(--mask-color);
      margin-bottom: 0;
      padding: 1.25rem var(--grid-gutter) 3.125rem var(--grid-gutter);

      br {
        display: none;
      }
    }
  }

  @include breakpoint(tablet) {
    .image-text {
      &.left .text-content {
        padding-left: 1.25rem;
      }

      &.right:after {
        transform: translateX(calc(50% + var(--grid-width) + (var(--grid-gutter) / 2)));
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        transform: translateX(calc(50% - var(--grid-width) - (var(--grid-gutter) / 2)));
        background-color: var(--block-color);
        z-index: -1;
      }

      .image-wrapper {
        display: block;
        grid-column: 1 / span 7;
        border-width: 0.938rem;
        border-style: solid;
        border-radius: 0.75rem;

        .image-container .image {
          padding-bottom: 86%;
        }
      }

      .cta {
        width: calc((var(--grid-width) * 2) + var(--grid-gutter));
      }
    }

    .background-text {
      .mask {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/cluster-twelve.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-color: var(--mask-color);
        background-position: center;
      }

      .image-wrapper {
        opacity: calc(var(--bg-opacity) / 100);

        .admin-bar & .image-container .image {
          padding-bottom: calc(100vh - 8rem);
        }

        .image-container .image {
          padding-bottom: calc(100vh - 6rem);
        }
      }

      .headline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--grid-total-width) - var(--grid-width) - var(--grid-gutter));
        background-color: transparent;
        padding: 0;
      }
    }
  }

  @include breakpoint(xl-laptop) {
    .background-text .headline br {
      display: block;
    }
  }
}