a.button,
.button,
button:not(.share-button),
input[type="submit"] {
  @include hoverActive(background-color, transparent);
  @include hoverActive(color, $blue);

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  display: inline-block;
  width: auto;
  min-width: 9.875rem;
  position: relative;
  height: 2.813rem;
  font-family: $sansSerifFont;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.813rem;
  text-align: center;
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 0.5rem;
  outline: 0;
  padding: 0;
  will-change: background-color, color;

  &:after {
    transition: none;
    display: none;
  }

  &.load-more {
    @include hoverActive(background-color, #F6F5FA);
    @include hoverActive(color, #A4A4A4);
    @include hoverActive(border-color, $dark-grey);

    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
    background-color: #EAE9F4;
    color: $dark-grey;
    border-color: transparent;
  }

  @include breakpoint(laptop) {
    min-width: 10.625rem;
    border-radius: 0.75rem;
  }
}