section {
  padding: 3.125rem 0;

  .text p {
    @include fluid-font(1.25rem, 1.5rem);

    font-family: $serifFont;
    line-height: 1.458;
  }

  @include breakpoint(laptop){
    padding: 5.625rem 0 6.25rem 0;
  }
}